EXPO_PUBLIC_RAPIDAPI_KEY=your_rapidapi_key_here
EXPO_PUBLIC_FACEBOOK_APP_ID=your_meta_app_id_here
EXPO_PUBLIC_FACEBOOK_CLIENT_TOKEN=your_meta_client_token_here
EXPO_PUBLIC_CLAUDE_API_KEY=your_claude_api_key_here
